<h2 style="padding:20px;">Dashboard</h2>

<div id="container" class="col-md-9">
    <div>
        <h3 style="padding-top:30px;"><i class="fas fa-bone"></i> Subscribe Your Dog to an <a href="/Competitions/CompetitionsList#upcomingEvents">Upcoming Competition</a></h3>
        <hr />
    </div>

    <div>
        <h3 style="padding-top:30px"><i class="fas fa-bone"></i> Your Dogs</h3>
        <hr />

        <table class="table-bordered col-md-12">
            <thead class="text-center">
                <th>Dog Image</th>
                <th>Dog Name</th>
                <th> Dog Breed</th>
                <th>Options</th>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <img height="150px;" src="https://tse2.mm.bing.net/th?id=OIP.Jf0NnGpH2AhNM3BtwZufwwHaJ4&pid=Api&P=0&w=300&h=300" />
                    </td>
                    <td class="text-center">Dog.Name</td>
                    <td class="text-center">Dog.Breed</td>
                    <td style="text-align:center;">
                        <p>
                            <a href="/Dogs/DogProfile?id=dogId">View Full Profile</a>
                        </p>
                        <p>
                            <a href="">Find a Partner</a>
                        </p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div>
        <h3 style="padding-top:30px;"><i class="fas fa-bone"></i> Competitions Your Dogs Participated In</h3>
        <hr />
        <table class="table-bordered col-md-12">
            <thead class="text-center">
                <th>Competition Image</th>
                <th>Competiton Name</th>
                <th>Your Dog representatives</th>
            </thead>
            <tbody class="text-center">
                <td>
                    <img style="height:150px;" src="http://www4.pictures.zimbio.com/gi/MP+Their+Dogs+Contest+Westminister+Dog+Year+MaYylruOTkSx.jpg"/>
                </td>
            <td>
                Model.Name
            </td>
            <td>
                @*@foreach()*@
                <p>Model.OwnersDogs</p>
            </td>
            </tbody>
        </table>
    </div>

</div>
