@model DogHub.Web.ViewModels.Dogs.BreedsListViewModel
@{
    this.ViewData["Title"] = "Breeds List";
}

    <div class="col-md-9">
        <div style="text-align:center; margin-bottom:50px;">
            <h2>Review All Dog Breeds <br />or Propose a New Breed</h2>
            <form method="post" asp-controller="Dogs" asp-action="ProposeBreed" role="form" class="table-bordered col-md-6">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="BreedName" class="font-weight-bold required"></label>
                    <input asp-for="BreedName" class="form-control" />
                    <span asp-validation-for="BreedName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-light" value="Send Proposal" />
                </div>
            </form>
        </div>
        <table class="table table-active table-bordered col-md-6" style="text-align:center;">
            <thead>
            <th>Breed Name</th>
            <th>Total Dogs in The Breed</th>
            </thead>
            @foreach (var breed in Model.AllBreeds)
            {
                <tbody>
                    <tr>
                        <td>
                            @breed.BreedName
                        </td>
                        <td>
                            @breed.TotalDogsInBreed
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    <div class="col-md-3"style=" margin-bottom:70px; float:right">
        <cache expires-after="TimeSpan.FromMinutes(5)">
            <vc:last-registered-dogs title="Last Registered Dogs"></vc:last-registered-dogs>
        </cache>
    </div>
