@model DogHub.Web.ViewModels.Dogs.DogsCatalogueViewModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Dogs/CatalogueStyles.css" />
</head>
<body>
    <div class="container">
        <div class="page-header text-center" style="padding:20px;">
            <h2>Registered Dogs</h2>
            <h4>Review the Full Catalogue or Buy a Dog</h4>
            </br>
            <a class="btn btn-success font-weight-bold" href="/Dogs/Register">Register Your Dog</a>
        </div>
        <br />

        <div class="componentFilter col-md-12">
            <p>
                <i class="fas fa-filter"></i>
                Get dogs by Dog Color:
                <input name="DogColor" />
                and by Dog Eyes Color:
                <input name="DogEyesColor" />
            </p>
            <p>
                <i class="fas fa-filter"></i>
                Get dogs by breed:
                <select name="breedType" id="breedType">
                    <option value="none" class="font-weight-bold">--Select--</option>
                    @*forech(var breed in Model)*@
                    <option>breed</option>
                </select>
            </p>
            <p>
                <i class="fas fa-filter"></i>
                Get only sellable dogs:
                <input type="checkbox" id="getSellableDogs" name="getSellableDogs" value="Yes" />
            </p>

        </div>
        <hr class="col-md-12" />
        <br />

        <div class="component">
            @foreach (var item in Model.DogsData)
            {
                <div class="singleDog">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.Jf0NnGpH2AhNM3BtwZufwwHaJ4&pid=Api&P=0&w=300&h=300" />
                    <div style="padding-top:2px;" class="font-weight-bold text-center"> @item.Name</div>

                    <span>
                        <p>
                            <a style=" padding-left:10px;">
                                @if (item.Gender == "Female")
                                {
                                    <i style="color:deeppink;" class="fas fa-dog"></i>
                                }
                                else if (item.Gender == "Male")
                                {
                                    <i style="color:blue;" class="fas fa-dog"></i>
                                }
                                @item.BreedName
                            </a>
                        </p>
                        <a style=" padding-left:10px;">
                            @if (item.Gender == "Female")
                            {
                                <i style="color:deeppink" class="fas fa-venus"></i>
                            }
                            else if (item.Gender == "Male")
                            {
                                <i style="color:blue;" class="fas fa-mars"></i>
                            }
                            @item.Gender
                        </a>
                        <a hidden="hidden" name="EyesColor" value="Model.EyesColor"></a>
                        <a hidden="hidden" name="DogColor" value="Model.DogColor"></a>
                    </span>

                    <span style="float: right; padding-right:10px;">
                        <a style="height:30px; width:60px;" class="btn btn-info" href="/Dogs/DogProfile?id=3"><small>Profile</small></a>
                        @if (item.Sellable == true)
                        {
                            <a style="height:30px; width:60px;" class="btn btn-warning" href="/Dogs/Buy?id=dogid"><small>Buy</small></a>
                        }
                    </span>
                </div>
            }
        </div>
    </div>

    <hr />
    <partial name="_PagingPartial" model="@Model" />
</body>
</html>

