<h2 class="text-center">Take Advantage of the Full Dog Hub Experience</h2>

<div id="parent">
    <li class="square rounded">
        <h3>Register your dog in the catalogue!</h3>
        <p>To register your dog into our catalogue you need to be a registered user.</p>
        <p>
            <a class="btn btn-success" href="/Dogs/Register">Register a Dog</a>
        </p>
    </li>

    <li class="square rounded">
        <h3>View the catalogue and choose a dog!</h3>
        <p>You can review the full dogs catalogue and buy a dog, if you wish.</p>
        <p>
            <a class="btn btn-success" href="/Dogs/Catalogue">Full Catalogue</a>
        </p>
    </li>

    <li class="square rounded">
        <h3>Do not miss the full competitions list!</h3>
        <p>Review the full list of dog winners presented by competition participation.</p>
        <p>
            <a class="btn btn-success" href="/Competitions/CompetitionsList">All Competitions</a>
        </p>
    </li>
</div>

<style>
    .square {
        padding: 35px;
        height: 350px;
        width: 300px;
        background-color: aquamarine;
        text-align: center;
    }

    #parent > li {
        display: inline-grid;
        margin: 20px;
        border-style:outset;
    }

    .btn {
        width: 150px;
    }
</style>