@model DogHub.Web.ViewModels.Dogs.NewBreedInputModel
<h2>
    Propose a Breed That is Missing in the Breeds List
</h2>
<form method="post" asp-controller="Dogs" asp-action="ProposeBreed" role="form" class="table-bordered col-md-6">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="BreedName" class="font-weight-bold required"></label>
            <input asp-for="BreedName" class="form-control" />
            <span asp-validation-for="BreedName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-light" value="Send Proposal" />
        </div>
    </form>