@model DogHub.Web.ViewModels.Dogs.RegisterDogInputModel
@{
    this.ViewData["Title"] = "Register Your Dog";
}

@{
    var breedItems = this.Model.BreedsItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<script>
    function countChar(val) {
        var length = val.value.length;
        if (length >= 250) {
            val.value = val.value.substring(0, 250);
        }
        else {
            $('#charNum').text(250 - length);
        }
    };
</script>

<h2 style="margin:20px;">Fill the Form to Register Your Dog in the Catalogue</h2>
<p style="margin:20px;">If you haven`t registered yet, then <a href="/Identity/Account/Register">register as a new user first!</a></p>

<form method="post" enctype="multipart/form-data" asp-controller="Dogs" asp-action="Register" role="form" class="table-bordered col-md-6">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="DogName" class="font-weight-bold required"></label>
        <input asp-for="DogName" class="form-control" />
        <span asp-validation-for="DogName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BreedId" class="font-weight-bold required"></label>
        <select asp-for="BreedId" class="form-control" asp-items="breedItems">
            <option value="none">----------Select----------</option>
        </select>
        <span asp-validation-for="BreedId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="font-weight-bold required"></label>
        <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<DogHub.Data.Models.Enums.DogGenderEnum>()">
            <option value="none">-----Select-----</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DogColor" class="font-weight-bold required"></label>
        <input asp-for="DogColor" class="form-control" />
        <span asp-validation-for="DogColor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Age" class="font-weight-bold"></label>
        <span class="font-weight-normal">(optional)</span>:
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Weight" class="font-weight-bold required"></label>
        <input asp-for="Weight" class="form-control" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EyesColor" class="font-weight-bold required"></label>
        <input asp-for="EyesColor" class="form-control" />
        <span asp-validation-for="EyesColor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sellable" class="font-weight-bold required"></label>
        <select asp-for="Sellable" class="form-control">
            <option value="none">-----Select-----</option>
            <option>True</option>
            <option>False</option>
        </select>
        <span asp-validation-for="Sellable" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsSpayedOrNeutered" class="font-weight-bold required"></label>
        <select asp-for="IsSpayedOrNeutered" class="form-control">
            <option value="none">-----Select-----</option>
            <option>True</option>
            <option>False</option>
        </select>
        <span asp-validation-for="IsSpayedOrNeutered" class="text-danger"></span>
    </div>

    <div class=" form-group">
        <label asp-for="Description" class="font-weight-bold"></label>
        <span class="font-weight-normal">(optional): </span>
        <p>
            <textarea asp-for="Description" class="form-control" onkeypress="countChar(this)" placeholder="Write how your dog behaves and which are his best qualities..."></textarea>
        </p>
        <a class="font-weight-light" id="charNum"></a>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DogImages" class="font-weight-bold required"></label>
        <span class="font-weight-normal">(approved file formats: .png, .jpg and .jpeg): </span>
        <p>
            <input asp-for="DogImages" class="form-control" />
            <span asp-validation-for="DogImages" class="text-danger"></span>
        </p>
    </div>

    @*<div class="form-group">
            <label asp-for="Video" class="font-weight-bold required"></label>
            <p>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </p>
        </div>*@
    <div class="form-group">
        <input type="submit" class="btn btn-light" value="Register" />
    </div>
</form>


<style type="text/css">

    form label.required::before {
        color: red;
        content: " *";
    }
</style>