@{
    this.ViewData["Title"] = "Thank You For Voting";
}

<h2>Thank you for voting in this competition.</h2>
<a class="btn btn-light btn-outline-dark" href="/Competitions/CompetitionsList">Back to competitors list</a>
