@{
    this.ViewData["Title"] = "Proposal Success";
}
<h2>Thank you for proposing a new breed. It is under review and will be approved or rejected.</h2>
<a class="btn btn-light btn-outline-dark" href="/Dogs/BreedsList">Back to breeds list</a>