@model DogHub.Web.ViewModels.CommonForms.JudgeApplicationInputModel
@using DogHub.Common

@{
    this.ViewData["Title"] = "Apply For A Judge";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/CommonForms/JudgeAppFormStyles.css" />
</head>
<body>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <h3>The administrator is not permitted to apply for judge. You may apply for a judge with different profile registration.</h3>
    }
    else
    {
        <h2>Apply for Judge in the Competitions Through Filling This Form</h2>

        <form method="post" enctype="multipart/form-data" asp-controller="CommonForms" asp-action="ApplyForJudge" role="form" class="table-bordered col-md-6">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="font-weight-bold required"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="font-weight-bold required"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelfDescription" class="font-weight-bold required"></label>
                <textarea asp-for="SelfDescription" class="form-control"></textarea>
                <span asp-validation-for="SelfDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YearsOfExperience" class="font-weight-bold required"></label>
                <input asp-for="YearsOfExperience" class="form-control" />
                <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RaisedLitters" class="font-weight-bold required"></label>
                <input asp-for="RaisedLitters" class="form-control" />
                <span asp-validation-for="RaisedLitters" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfChampionsOwned" class="font-weight-bold required"></label>
                <input asp-for="NumberOfChampionsOwned" class="form-control" />
                <span asp-validation-for="NumberOfChampionsOwned" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HasBeenJudgeAssistant" class="font-weight-bold required"></label>
                <input asp-for="HasBeenJudgeAssistant" type="checkbox" />
                <span asp-validation-for="HasBeenJudgeAssistant" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AttendedJudgeInstituteCourse" class="font-weight-bold required"></label>
                <input asp-for="AttendedJudgeInstituteCourse" type="checkbox" />
                <span asp-validation-for="AttendedJudgeInstituteCourse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JudgeInstituteCertificateUrl" class="font-weight-bold required"></label>
                <input asp-for="JudgeInstituteCertificateUrl" class="form-control" />
                <span asp-validation-for="JudgeInstituteCertificateUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JudgeImage" class="font-weight-bold required"></label>
                <span class="font-weight-normal">(approved file formats: .png, .jpg and .jpeg) </span>
                <p>
                    <input asp-for="JudgeImage" class="form-control" />
                    <span asp-validation-for="JudgeImage" class="text-danger"></span>
                </p>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-light" value="Apply" />
            </div>
        </form>
    }
</body>
</html>
