@model DogHub.Web.ViewModels.CommonForms.VoteFormInputModel

@{
    this.ViewData["Title"] = "Vote For A Dog";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/CommonForms/VotingFormStyles.css" />
    <script type="text/javascript" src="~/js/CommonForms/VotingFormScripts.js"></script>
</head>
<body>
    <h2 class="text-center" style="padding:20px;">You Have to Judge the Dog Based on the Criteria Listed Below</h2>
    <h4>But first you can watch the <a id="dogVideo" style="color:blue" onclick="DisplayVideo()">dog presentation video</a> to help you make your exaggeration</h4>
    <i id="closeBtn" class="fas fa-times" style="display: none; padding-left: 560px;"></i>
    <iframe id="videoBlock" style="display:none;" width="560" height="315" src="@Model.DogVideoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div id="votingForm">
        <div id="votingComponent">
            <h6>
                <i class="far fa-hand-point-right"></i>
                Evaluate the balance of the dog, i.e. overall appropriate proportions
            </h6>
            <div class="main">
                <form id="rating-form">
                    <span onclick="calc()" class="rating-star">
                        <i class="far fa-smile"></i>
                        <input type="radio" name="rating" value="5"><span class="star"></span>

                        <input type="radio" name="rating" value="4"><span class="star"></span>

                        <input type="radio" name="rating" value="3"><span class="star"></span>

                        <input type="radio" name="rating" value="2"><span class="star"></span>

                        <input type="radio" name="rating" value="1"><span class="star"></span>
                        <i class="far fa-frown-open"></i>
                    </span>
                </form>
            </div>
        </div>

        <div id="votingComponent">
            <h6>
                <i class="far fa-hand-point-right"></i>
                Evaluate the weight of the dog, i.e. is the weight in a range that is typical for the breed
            </h6>
            <div class="main">
                <form id="rating-form">
                    <span onclick="calc()" class="rating-star">
                        <i class="far fa-smile"></i>
                        <input type="radio" name="rating" value="5"><span class="star"></span>

                        <input type="radio" name="rating" value="4"><span class="star"></span>

                        <input type="radio" name="rating" value="3"><span class="star"></span>

                        <input type="radio" name="rating" value="2"><span class="star"></span>

                        <input type="radio" name="rating" value="1"><span class="star"></span>
                        <i class="far fa-frown-open"></i>
                    </span>
                </form>
            </div>
        </div>

        <div id="votingComponent">
            <h6>
                <i class="far fa-hand-point-right"></i>
                Evaluate the eyes of the dog, i.e. are the eyes color and shape typical for the breed
            </h6>
            <div class="main">
                <form id="rating-form">
                    <span onclick="calc()" class="rating-star">
                        <i class="far fa-smile"></i>
                        <input type="radio" name="rating" value="5"><span class="star"></span>

                        <input type="radio" name="rating" value="4"><span class="star"></span>

                        <input type="radio" name="rating" value="3"><span class="star"></span>

                        <input type="radio" name="rating" value="2"><span class="star"></span>

                        <input type="radio" name="rating" value="1"><span class="star"></span>
                        <i class="far fa-frown-open"></i>
                    </span>
                </form>
            </div>
        </div>

        <div id="votingComponent">
            <h6>
                <i class="far fa-hand-point-right"></i>
                Evaluate the ears of the dog, i.e. are the ears shape, length and position typical for the breed
            </h6>
            <div class="main">
                <form id="rating-form">
                    <span onclick="calc()" class="rating-star">
                        <i class="far fa-smile"></i>
                        <input type="radio" name="rating" value="5"><span class="star"></span>

                        <input type="radio" name="rating" value="4"><span class="star"></span>

                        <input type="radio" name="rating" value="3"><span class="star"></span>

                        <input type="radio" name="rating" value="2"><span class="star"></span>

                        <input type="radio" name="rating" value="1"><span class="star"></span>
                        <i class="far fa-frown-open"></i>
                    </span>
                </form>
            </div>
        </div>

        <div id="votingComponent">
            <h6>
                <i class="far fa-hand-point-right"></i>
                Evaluate the head shape of the dog, i.e. is it typical for the breed
            </h6>
            <div class="main">
                <form id="rating-form">
                    <span onclick="calc()" class="rating-star">
                        <i class="far fa-smile"></i>
                        <input type="radio" name="rating" value="5"><span class="star"></span>

                        <input type="radio" name="rating" value="4"><span class="star"></span>

                        <input type="radio" name="rating" value="3"><span class="star"></span>

                        <input type="radio" name="rating" value="2"><span class="star"></span>

                        <input type="radio" name="rating" value="1"><span class="star"></span>
                        <i class="far fa-frown-open"></i>
                    </span>
                </form>
            </div>
        </div>

        <div id="votingComponent">
            <h6>
                <i class="far fa-hand-point-right"></i>
                Evaluate the muzzle of the dog, i.e. is the shape and size typical for the breed
            </h6>
            <div class="main">
                <form id="rating-form">
                    <span onclick="calc()" class="rating-star">
                        <i class="far fa-smile"></i>
                        <input type="radio" name="rating" value="5"><span class="star"></span>

                        <input type="radio" name="rating" value="4"><span class="star"></span>

                        <input type="radio" name="rating" value="3"><span class="star"></span>

                        <input type="radio" name="rating" value="2"><span class="star"></span>

                        <input type="radio" name="rating" value="1"><span class="star"></span>
                        <i class="far fa-frown-open"></i>
                    </span>
                </form>
            </div>
        </div>

        <div id="votingComponent">
            <h6>
                <i class="far fa-hand-point-right"></i>
                Evaluate the color of the dog, i.e. is it among the accepted breed colors
            </h6>
            <div class="main">
                <form id="rating-form">
                    <span onclick="calc()" class="rating-star">
                        <i class="far fa-smile"></i>
                        <input type="radio" name="rating" value="5"><span class="star"></span>

                        <input type="radio" name="rating" value="4"><span class="star"></span>

                        <input type="radio" name="rating" value="3"><span class="star"></span>

                        <input type="radio" name="rating" value="2"><span class="star"></span>

                        <input type="radio" name="rating" value="1"><span class="star"></span>
                        <i class="far fa-frown-open"></i>
                    </span>
                </form>
            </div>
        </div>
        <p style="padding-top:50px;">Thanks For Giving <span id="selected-rating" name="totalPoints" class="btn selected-rating"></span> Points.</p>
        <input type="submit" id="submitBtn" class="btn btn-light" value="Send Your Vote" />
        <b id="successfullyVoted" style="display:none; text-align:center;">
        Thank you for voting!
            @if (this.User.IsInRole("Judge"))
            {
                <p>As you are a judge voter your voting points will be doubled in the system!</p>
            }
        </b>
        <a type="submit" style="display:none;" id="backBtn" class="btn btn-dark" asp-controller="Competitions" asp-action="Details" asp-route-id="@Model.CompetitionId">Back To Competition</a>
    </div>
    <form method="post" id="antiForgeryForm"></form>
</body>
</html>

@section Scripts{
    <script>
        $('#submitBtn')
            .click(function () {
                var dogId = @Model.DogId;
                var competitionId = @Model.CompetitionId;
                var totalPoints = document.querySelector("#selected-rating").textContent;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();

                var data = { dogId: dogId, competitionId: competitionId, totalPoints: totalPoints };

                    $.ajax({
                        type: "POST",
                        url: "/api/Votes",
                        data: JSON.stringify(data),
                        headers: {
                            'X-CSRF-TOKEN': antiForgeryToken
                        },
                        success: function ()
                        {
                            document.querySelector("#submitBtn").style.display = "none";
                            document.querySelector('#successfullyVoted').style.display = "block";
                            document.querySelector("#backBtn").style.display = "block";
                        },
                        contentType: "application/json",
                    })
                });
    </script>
}
