<!-- Services -->
<section id="services" class="pt100 pb90">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center pb20">
                <h2 class="">What We Can Offer To<br><strong>Provide The Best Experience</strong></h2>
                <p class="lead">You and your dogs are of highest importance for us</p>
            </div>

            <div class="col-md-4 col-sm-6 feature-left">
                <i class="fas fa-sign-in-alt size-3x" style="color:lightblue"></i>
                <i class="fas fa-sign-in-alt back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong>Register a Dog</strong><br>Make It Visible</h4>
                    <p>Register your dog into our catalogue and enjoy the experience.</p>
                    <a class="btn btn-light" asp-controller="Dogs" asp-action="Register">Register a dog</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 feature-left">
                <i class="far fa-list-alt size-3x" style="color:lightblue"></i>
                <i class="far fa-list-alt back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong>View the Catalogue</strong><br>Choose a Dog</h4>
                    <p>You can review the full catalogue and buy a dog, if you wish.</p>
                    <a class="btn btn-light" asp-controller="Dogs" asp-action="Catalogue">Full Catalogue</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 feature-left">
                <i class="fas fa-medal size-3x" style="color:lightblue"></i>
                <i class="fas fa-medal back-icon"></i>
                <div class="feature-left-content">
                    <h4><strong>Competitions list</strong><br>Do Not Miss</h4>
                    <p>Review the full list of competitions and take action.</p>
                    <a class="btn btn-light" asp-controller="Competitions" asp-action="CompetitionsList">Competitions</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Services -->