@{
    this.ViewData["Title"] = "Already Applied For Judge";
}

<h2>You have already applied for judge. Please wait for your response or if your application has been approved there is no need to apply twice.</h2>
