@{
    this.ViewData["Title"] = "Can't Vote For Dog";
}

<h2>Sorry, you are not allowed to vote for your own dog.</h2>
<a class="btn btn-light btn-outline-dark" href="/Competitions/CompetitionsList">Back to competitors list</a>