<h2>We are sorry to inform you that your dog does not match the requirements for this competition!</h2>
<h2>The dog should NOT be spayed or neutered and its breed should be the same as the required competition breed.</h2>
<input type="button" class="btn btn-light btn-outline-dark" value="Back" onclick="history.go(-1)">