@{
    this.ViewData["Title"] = "Dog Not Applicable";
}

<h2>We are sorry to inform you that your dog does not match the requirements for this competition!</h2>
<h2>The dog SHOULD NOT BE spayed or neutered and its breed SHOULD BE the same as the required competition breed.</h2>
<input type="button" class="btn btn-light btn-outline-dark" value="Back" onclick="history.go(-1)">