@{
    this.ViewData["Title"] = "Dog Not Applicable For Partnership";
}

<h2>
    As your dog is spayed or neutered, there is no need to search for a dog match.
</h2>
<input type="button" class="btn btn-light btn-outline-dark" value="Back" onclick="history.go(-1)">
