<h2>Sorry, you are unable to vote at this moment for this dog.</h2>
<p>
    The reasons for this might be:
    <ul>
        <li>The competition has not yet started or has already finished.</li>
        <li>The dog you want to vote for is not added as a competitor for this competition.</li>
    </ul>
</p>
<a type="submit" class="btn btn-light btn-outline-dark" href="/Competitions/CompetitionsList">Back</a>