@{
    this.ViewData["Title"] = "Contact Us";
}

<h2>@this.ViewData["Title"]</h2>

<!-- Contact Info -->
<section class="parallax pt110 pb70" data-overlay-dark="8" style="margin-top:50px; margin-bottom:50px;">
    <div class="background-image">
        <img src="img/backgrounds/bg-8.jpg" alt="#">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 details white text-center">
                <div class="phone-number mb10">
                    <h1 class="bold">0787-5189-023</h1>
                </div>
                <div class="col-lg-12">
                    <h3>doghub.co.uk</h3>
                    <h4>20 Churchill Place, Canary Wharf, London, E14 5HJ</h4>
                    <h4>United Kingdom</h4>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Contact Info -->

<h2>Find Us On the Map:</h2>
<!-- Map -->
<section class="vossen-map" style="margin-top: 50px;">
    <!-- Paste your map iframe here -->

    <iframe height="550" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4967.018009665739!2d-0.0152851!3d51.5038771!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487602ba8fff66e5%3A0x60f3aa147b9ce25b!2zMjAgQ2h1cmNoaWxsIFBsYWNlLCAyMCBDaHVyY2hpbGwgUGwsIENhbmFyeSBXaGFyZiwgTG9uZG9uIEUxNCA1RVUsINCS0LXQu9C40LrQvtCx0YDQuNGC0LDQvdC40Y8!5e0!3m2!1sbg!2sbg!4v1606581559425!5m2!1sbg!2sbg" border="0" marginwidth="0" marginheight="0"></iframe>
</section>
<!-- End Map -->